body div.container-xxl {
  padding: 0;
}

a.btn.btn-primary {
  color: #000;
  background-color: #009688;
  border-color: #009688;
}

a.btn.btn-primary:hover {
  background-color: #ff5722;
  border-color: #ff5722;
  color: white;
}

nav {
  background-color: white;
}

ul.navbar-nav {
  width: 100%;
}

@media (width >= 1400px) {
  .carousel-content,
  section.bg-secondary,
  #contact {
    border-radius: 5px;
  }
}

@media (width < 1400px) {
  div.alert {
    border-radius: 0px;
  }
}

.carousel-content {
  height: 14rem;
  background: #6e3284;
  color: white;
}

#clients img {
  max-width: 200px;
}

#clients .logo {
  margin: 1em;
  padding: 1em;
  align-self: baseline;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 10px;
}

#contact {
  background-color: #400157;
  color: #fff;
}
