@font-face {
    font-family: Castleland;
    src: url(../fonts/castleland.ttf);
}  
@font-face {
    font-family: Aspex;
    src: url(../fonts/Aspex.ttf);
}

section {
    padding: 3em;
}      

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#logo-yeux {
    margin-bottom: 1em;
}

#logo {           
    font-family: Aspex;
    font-size: 70px;
    top: 18px;
    color: rgb(255, 64, 129);
    text-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
}

#logo span {
    display: block;
    height: 35px;
}

#logo span:nth-child(1) {
    height: 50px;
    font-size: 60px;
}
  
#nom {
    font-family: Castleland;
    font-size: 190px;
    /*font-weight: bold;*/
}

section.row h2 {
    font-size: 20px;
    font-weight: bolder;
}

.img-circle {
    border-radius: 50%;
}

.section-even {
    background-color: lightgray;
}

div.container.marketing {
    width: 100%;
}

#contact {
    background-color: #34495e;
    color: #f2f2f2;
}

#copyright {
    background-color: #31A3DD;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 0;
}

/**************************/
/* override default style */
/**************************/

@media (min-width: 1200px) {
    div.carousel, div.carousel .item {
        height: 583px;
    }
}

div.carousel .carousel-control .glyphicon-chevron-left, 
    div.carousel .carousel-control .glyphicon-chevron-right, 
    div.carousel .carousel-control .icon-next, 
    div.carousel .carousel-control .icon-prev {
    top: 70%;
}

 /* hide carousel item background image */
.carousel .item > img {
   display: none;
}

/* change carousel background color */
.carousel-control.right, .carousel-control.left, .carousel .item {
    background: #843271;
}

.btn:hover {
    background-color: #843271;
    border-color: #843271;
    color: white;
}